{%extends 'base.html'%}
{% block content %}

{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styleCV.css' %}" />
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
</head>
<body>
<table>
    <tr>
        <th>
            <img src="/static/photo.jpg" width="350" height="300" alt="Теремасов Илья">
            <h5>Это я, и я планирую стать программистом))</h5>
        </th>
        <th>
            <h1>Теремасов Илья.</h1>
            <h6>Бишкек, Кыргызстан.</h6>
            <h6>(+996) (703) 05-62-61</h6>
            <h6>(+996) (550) 75-15-41</h6>
            <h6>teremasovjr@gmail.com</h6>
            <h6><a href="https://github.com/iteremasov">github.com</a></h6>
            <h6><a href="https://linkedin.com/in/ilya-teremasov">linkedin.com</a></h6>
        </th>
    </tr>

</table>

<h2>Навыки:</h2>
    <h6>Владею следующими языками программирования: JAVA, Python, С++, JS.</h6>
    <h6>Framework: DJANGO</h6>
    <h6>Системы контроля версий: Git</h6>
    <h6>ОС: Linux, Windows</h6>
<h2>Опыт работы:</h2>
    <h6>СЕНТЯБРЬ 2014 – МАЙ 2018 гг.</h6>
    <h6>ОсОО “Риэлта”, Бишкек – Инженер цифровых систем безопасности.</h6>
    <h6>(стаж работы четыре года.)</h6>

<h2> Образование:</h2>
<h6> 2009 – 2017 гг.</h6>
    <h6>КГТУ им. Исхака Раззакова, Бишкек – Автоматизация и управление.</h6>
    <h6>(Изначально поступал на “Вычислительные машины,Комплексы, Системы и сети.” проучился до пятого курса на бюджетной основе. После чего устроился на работу  и был отчислен. Восстановился на заочное отделение “Автоматизация и управление.”)
</h6>

    <h2>Личные качества:</h2>
    <h6>коммуникабельность</h6>
    <h6>стрессоустойчивость</h6>
    <h6>легкое усвоение новых знаний</h6>
    <h6>умение работать в команде (умение ладить с людьми)</h6>





</body>
</html>

{% endblock content %}