{%extends 'base.html'%}
{% block content %}

{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styleCV.css' %}" />

<div class="row">
    <div class="col"><img src="/static/photo.jpg" width="400" height="340" alt="Теремасов Илья"></div>
    <div class="col">
            <h1>Теремасов Илья.</h1>
            <lI>Бишкек, Кыргызстан.</lI>
            <LI>(+996) (703) 05-62-61</LI>
            <LI>(+996) (550) 75-15-41</LI>
            <LI>teremasovjr@gmail.com</LI>
            <LI><a href="https://github.com/iteremasov"> <img src="/static/icons-github.png" width="50" height="50"></a>
            <a href="https://linkedin.com/in/ilya-teremasov"> <img src="/static/linkedin.png" width="50" height="50"></a></LI>
    </div>
    <div class="col">
    <h1>Личные качества:</h1>
    <LI>коммуникабельность</LI>
    <LI>стрессоустойчивость</LI>
    <LI>легкое усвоение новых знаний</LI>
    <LI>умение работать в команде</LI>
     <li>(умение ладить с людьми)</LI>
    </div>

</div>


<h2>Навыки:</h2>
    <li>Владею следующими языками программирования: JAVA, Python, С++, JS.</li>
    <li>Framework: DJANGO</li>
    <li>Системы контроля версий: Git</li>
    <li>ОС: Linux, Windows</li>
<h2>Опыт работы:</h2>
    <li>СЕНТЯБРЬ 2014 – МАЙ 2018 гг.</li>
        <p>ОсОО “Риэлта”, Бишкек – Инженер цифровых систем безопасности.
    (стаж работы четыре года.)</p>

<h2> Образование:</h2>
     <li>2009 – 2017 гг.</li>
     <li>КГТУ им. Исхака Раззакова, Бишкек – Автоматизация и управление.</li>
    <li>(Изначально поступал на “Вычислительные машины,Комплексы, Системы и сети.” <p >Проучился до пятого курса на бюджетной основе.</p>
        <P>После чего устроился на работу  и был отчислен. Восстановился на заочное отделение “Автоматизация и управление.”)</P></li>



{% endblock content %}