{%extends 'base.html'%}
{% block content %}

{% load static %}

<div class="row">
    <div class="col"><img src="/static/photo.jpg" width="400" height="340" alt="Теремасов Илья"></div>
    <div class="col">
        <h1>Теремасов Илья.</h1>
        <ul>
            <li>Бишкек, Кыргызстан.</li>
            <li>(+996) (703) 05-62-61</li>
            <li>(+996) (550) 75-15-41</li>
            <li>teremasovjr@gmail.com</li>
            <li>
                <a href="https://github.com/iteremasov">
                    <img src="/static/icons-github.png" width="50" height="50">
                </a>
                <a href="https://linkedin.com/in/ilya-teremasov">
                    <img src="/static/linkedin.png" width="50" height="50">
                </a>
            </li>
            <li>
                <a href="/static/rezyme.pdf">Резюме
                </a>
            </li>
        </ul>
    </div>

</div>

<div>
    <h1>Личные качества:</h1>
    <ul>
        <li>коммуникабельность</li>
        <li>стрессоустойчивость</li>
        <li>легкое усвоение новых знаний</li>
        <li>умение работать в команде</li>
        <li>(умение ладить с людьми)</li>
    </ul>

    <h2>Навыки:</h2>
    <ul>
        <li>Владею следующими языками программирования: JAVA, Python, С++, JS.</li>
        <li>Framework: DJANGO</li>
        <li>Системы контроля версий: Git</li>
        <li>ОС: linux, Windows</li>
    </ul>
    <h2>Опыт работы:</h2>
    <ul>
        <li>СЕНТЯБРЬ 2014 – МАЙ 2018 гг.</li>
    </ul>
    <p>ОсОО “Риэлта”, Бишкек – Инженер цифровых систем безопасности.
        (стаж работы четыре года.)</p>

    <h2> Образование:</h2>
    <ul>
        <li>2009 – 2017 гг.</li>
        <li>КГТУ им. Исхака Раззакова, Бишкек – Автоматизация и управление.</li>
        <li>
            (Изначально поступал на “Вычислительные машины,Комплексы, Системы и сети.”
            <p>Проучился до пятого курса на бюджетной основе.</p>
            <P>
                После чего устроился на работу и был отчислен. Восстановился на заочное отделение “Автоматизация и
                управление.”)
            </P>
        </li>
    </ul>
</div>


{% endblock content %}