certifi==2017.11.5
chardet==3.0.4
Django==2.0.8
django-js-asset==1.1.0
django-markdownx==2.0.28
giphypop==0.3
idna==2.6
Markdown==3.0.1
Pillow==9.0.0
pkg-resources==0.0.0
python-dateutil==2.6.1
pytz==2018.4
requests==2.20.0
six==1.11.0
urllib3==1.22
